//colors
$color-primary: #002E58;
$color-light-blue: #E4EAFE;
$color-grey: #5D5D5D;
$color-light-grey: #e7e6e69a;


//font 
$font-display: 'Hind Siliguri', sans-serif ;

//utilities
.mr {
    margin-right: 11px;
}

.mr-lg {
    margin-right: 1rem;
}